/baddict.hwm
/baddict.pwd
/baddict.pwi
/both-endian.sh
/both-endian.sh.log
/both-endian.sh.trs
/checkdict.sh
/checkdict.sh.log
/checkdict.sh.trs
/cracklib-check
/cracklib-packer
/cracklib-unpacker
/cracklib-small.*
/make-bad-endian
/test-suite.log
/testdict*.hwm
/testdict*.pwd
/testdict*.pwi
/testlib
/testnum
/teststr
